*{padding:0 ;
 margin:0;
box-sizing: border-box;}
:root{
--clr-primary:
}
body{
	position: absolute;
	right:0;
	left:0;
	font-family: 'Fira Sans', sans-serif;
	background-color:#e1e1e1;
}
.main{
	/* background-color: aquamarine; */
	
	display:grid;
	grid-template-areas: "White . . Black"
			     "m1 s1 m2 s2";
	text-align: center;
}
.timer{
	display:grid;
	grid-template-areas: "white black";
}
.clock{
	display:grid;
	content: "";
	/* background-color:springgreen; */
	height:20em;
	width:100%;
}
.white{
	background-color:white;
	grid-area: white;
	left: 25%;
}
.black{
	background-color:black;
	right: 0%;
	grid-area: black;
}
h4{
	font-size: 25px;
}
h2{
	font-size: 40px;
	padding : 10px
}
#m1{
	grid-area: m1;
}
#m2{
	grid-area: m2
}
#s1{
	grid-area: s1;
}
#s2{
	grid-area: s2
}
#p2{
	grid-area: Black
}


.link{
	font-size:10px;
	font-family: 'Courier New', Courier, monospace;
}
a{
	text-decoration: none;
	
}
a:link{
	color:cornflowerblue
}
a:visited{
	color:hsl(180, 100%, 15%);
}